.App {
  text-align: center;
}



.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.LoginBTN {
  justify-self: right;
}

.Menu {
  display: flex;
  justify-content: center;
}

.Ranking-Row {
  padding: 0;
  margin: 0;
}

.container {
  padding-top: 5px;
  padding-bottom: 5px;
}


/* NEW MATCH SCREEN */
.NewMatchIncDecrBTN {
  border-radius: 50%;

}

/* ROUTES (App.js) */
.routes {
  padding: 0;
}

/* DASHBOARD */
.NavbarTop {
  white-space: nowrap;
}






.DashboardLinksC {
  padding-bottom: 1rem;
}

.LatestMatchesC {
  background-color: lightgray;
  padding-bottom: 1rem;
}


/* MATCH RESULTS PAGE */
.MatchResultsHeader {
  background-image: url("/src/components/assets/MatchResults.png");
  height: 20rem;
  object-fit: cover;
  background-color: #008ec3; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}


/* CAROUSEL */

.CarouselCaption {
  top: 40%;
  transform: translateY(-50%);
  bottom: initial;
}

.CarouselImage {
  box-shadow: 0 0 200px rgba(0,0,0,0.9) 
}

.DashboardLinksC {
  object-fit: cover;
  background-color: black; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}